<div class="container">
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div style="width:100%; float:left; padding:175px 0px; text-align:center;">
                <img src="~/Images/Site/clock_icon2.png" style="width:50px; margin-bottom:30px;" />
                <label id="oturum-label" onclick="$('#account-floating-div').fadeIn(300);" style="width:100%; cursor:pointer; float:left; text-align:center; font-size:16px;">Oturumunuzun süresi dolmuştur. <br /> Tekrar giriş yapmak için tıklayın.</label>
            </div>
        </div>
    </div>
</div>