@{
    ViewBag.Title = "Butik Pastalar – Pastanı Tasarla ve Pasta Siparişi Ver";
    Layout = "/Views/Shared/_Layout.cshtml";
    ViewBag.description = "iCaked ile butik pasta tasarlayabilmek için bilmeniz gereken her şey burada. Tıklayın ve bir doğum günü pastası tasarlamak için gereken her şeyi öğrenin.";
    ViewBag.keywords = "Online pasta tasarım, pasta tasarlama, online pasta siparişi, butik pasta siparişi, tasarım pasta modelleri, özel pasta siparişi";
}

<div class="container-fluid" style=" margin-top:-30px; margin-bottom:-100px;">
    <div class="container" style="background:white; padding:3%; padding-bottom:150px;">
        <div class="row">

            <label style="float:left; width:100%; font-size:32px; font-weight:500; padding-bottom:15px;">
                iCaked.com
            </label>
            <h1 style="float:left; width:100%; font-size:20px; font-weight:500; padding-bottom:25px; padding-top:10px;">
                Sık Sorulan Sorular
            </h1>

            <div class="col-md-12 col-sm-12 col-xs-12" style="margin-bottom:70px;">

                <div style="float:left; text-align:left; width:100%; font-size:14px;">
                    <label class="sss-title">Ürünler</label>

                    <label>

                        •	<b>Tasarladığımız pastaları siz mi üretiyorsunuz?</b> <br />
                        <span style="padding-left:10px; padding-top:5px; float:left; width:100%">
                            Hayır, o konuda işi en iyi yapanına bırakıyoruz.  Tasarım pastalar, <a  href="/pastane">pastaneler</a> bölümünde belirtilen, işinde uzman anlaşmalı pastanelerimiz tarafından üretiliyor.
                        </span>

                        <br /><br /><br />

                        •	<b>Tasarladığım pasta gerçeğine ne kadar benzeyecek?</b> <br />
                        <span style="padding-left:10px; padding-top:5px; float:left; width:100%">
                            <a  href="/Editor">Kendin Tasarla</a> bölümüne bir figür koymadan önce tüm pastanelerimizden onay alıyoruz. Bunun yanı sıra şeker hamurlu pasta yapmak çok özel bir iş olduğundan dolayı seçtiğimiz bütün pastanelerin işinde uzman heykeltıraşlar çalıştırıyor olmasına önem veriyoruz. Örnek pastalarımızı sosyal medya hesaplarımızdan sürekli takip edebilirsiniz.
                        </span>

                        <br /><br /><br />

                        •	<b>En az/en çok kaç kişilik pasta tasarlayabilirim?</b><br />
                        <span style="padding-left:10px; padding-top:5px; float:left; width:100%">
                            En az 2 kişilik bir tasarım pasta siparişi verebilirsiniz tasarlayabilirsiniz. Ancak maalesef bütün pastaları 2 kişilik yapamıyoruz. Hangi pastaların en az kaç kişilik yapılabildiğini <a  href="/Editor">Kendin Tasarla</a> bölümümüzden görebilirsiniz. En fazlada sınırımız yok, ancak 60 kişi üstündeki pastalar için bizimle <a  href="/Iletisim">İletişime</a> geçebilirsiniz.
                        </span>
                    </label>

                    <label class="sss-title">Sipariş</label>

                    <label>
                        •	<b>Hazır ürün veya yaş pasta siparişi vermek istiyorum ne kadar zaman önce vermeliyim?</b><br />
                        <span style="padding-left:10px; padding-top:5px; float:left; width:100%">
                            Hazır ürün veya yaş pasta siparişinizi 1 saat öncesinde vermeniz yeterlidir.
                        </span>
                        <br /><br /><br />
                        •	<b>Tasarım pasta siparişimin istediğim zaman elime ulaşması için için en az kaç gün önce sipariş vermeliyim?</b><br />
                        <span style="padding-left:10px; padding-top:5px; float:left; width:100%">
                            Sipariş süresi pastaneden pastaneye değişmekle birlikte en az 24 saat önce sipariş vermeniz gerekmektedir. Özel günlerin olduğu kalabalık dönemlerde en az 48 saat önceden tasarım pasta siparişi vermiş olmanızı öneririz.
                        </span>
                        <br /><br /><br />
                        •	<b>Yaşadığım yer pastanelerin servis alanı içerisinde çıkmıyor, ne yapmalıyım?</b><br />
                        <span style="padding-left:10px; padding-top:5px; float:left; width:100%">
                            Türkiye’nin her yerine ulaşmaya çalışıyoruz ancak maalesef henüz ulaşamadık. Biz bu işi başarana kadar sitemizdeki size en yakın pastaneden siparişinizi kendiniz gidip alabilirsiniz. Şimdilik sadece Ankara ve İstanbul’dan online pasta siparişi verebiliyorsunuz.
                        </span>
                        <br /><br /><br />
                        •	<b>Birden fazla pasta göndermek istiyorum ama sepete ekleyemiyorum. Ne yapmalıyım?</b><br />
                        <span style="padding-left:10px; padding-top:5px; float:left; width:100%">
                            Sepetinize sadece bir adet tasarım pasta ekleyebilirsiniz. İkinci tasarım pasta siparişi için ilk sepetinizi onaylayıp, ikinci bir sepet açabilirsiniz.
                        </span>
                        <br /><br /><br />
                        •	<b>Siparişimi değiştirmek veya iptal etmek istiyorum. Ne yapabilirim?</b><br />
                        <span style="padding-left:10px; padding-top:5px; float:left; width:100%">
                            Tasarım pasta siparişi verdiyseniz üretime başlanmamış ise, diğer ürünlerde ise sipariş teslimatı başlamamış ise değişiklik veya iptal yapabilirsiniz. Bu durumda bize telefon ile ulaşmak en hızlı çözüm olacaktır.
                        </span>
                    </label>

                    <label class="sss-title">Ödeme</label>

                    <label>
                        •	<b>Ödemeyi ne zaman yapacağım?</b><br />
                        <span style="padding-left:10px; padding-top:5px; float:left; width:100%">
                            Ödemeyi online kredi kartı yöntemi ile sepetinizi onayladığınız anda yapabilirsiniz. Bazı pastanelerimiz kapıda ödemeyi de kabul etmektedir. Eğer pasta siparişi verdiğiniz pastane kapıda ödemeyi kabul ediyor ise ödemeyi pastanızı teslim alırken de yapabilirsiniz.
                        </span>
                        <br /><br /><br />
                        •	<b>Kredi kartım yok, nasıl ödeme yapabilirim?</b><br />
                        <span style="padding-left:10px; padding-top:5px; float:left; width:100%">
                            Bazı pastaneler kapıda ödeme seçeneklerini kabul etmektedir. Bu pastanelerde nakit ödeme dahil birçok farklı yöntem ile ödeme yapabilirsiniz.
                        </span>
                        <br /><br /><br />
                        •	<b>Ödemem ve kredi kartı bilgilerim güvende mi?</b><br />
                        <span style="padding-left:10px; padding-top:5px; float:left; width:100%">
                            iCaked aracılığı ile vereceğiniz tüm siparişler, sipariş süreci başladığı andan itibaren herhangi bir güvenlik riskine karşı SSL sertifikası ile korunmaktadır. iCaked ödeme ve kredi kartı bilgilerinizi hiçbir şekilde kayıt etmemektedir. İçiniz rahat olsun.
                        </span>
                        <br /><br /><br />
                        •	<b>Taksit seçeneğiniz var mı?</b><br />
                        <span style="padding-left:10px; padding-top:5px; float:left; width:100%">
                            Resmi Gazete’de yayınlanan 27 Eylül 2016 tarihinde yayınlanan yönetmeliğe göre gıda ürünlerinde taksit yapılmamaktadır.
                        </span>
                        <br /><br /><br />
                        •	<b>Siparişime ait fatura elime ulaşmadı. Ne yapabilirim?</b>
                        <span style="padding-left:10px; padding-top:5px; float:left; width:100%">
                            Öncelikle bu gibi bir durumla karşılaşmamanız için elimizden gelen özeni gösterdiğimizi bilmenizi isteriz. Ancak böyle bir aksilik yaşandıysa bize telefonla ulaşıp bilgilendirmenizi rica ederiz.
                        </span>
                    </label>

                    <label class="sss-title">Teslimat</label>

                    <label>
                        •	<b>Pastam ne zaman elime ulaşır?</b><br />
                        <span style="padding-left:10px; padding-top:5px; float:left; width:100%">
                            Pasta siparişi verdiğiniz sırada belirttiğiniz zaman aralığında pastanız elinize ulaşacaktır. Tasarım pasta siparişi için en az 24 saat, Hazır ürün veya yaş pasta siparişi için en az 1 saat önce sipariş vermeniz gerekmektedir.
                        </span>
                        <br /><br /><br />
                        •	<b>Parti Sepetim ne zaman elime ulaşır?</b><br />
                        <span style="padding-left:10px; padding-top:5px; float:left; width:100%">
                            Parti sepetiniz siparişinizden itibaren en geç 2 iş günü içinde kargoya verilecektir.
                        </span>
                        <br /><br /><br />
                        •	<b>Hangi kargo şirketi ile çalışıyorsunuz?</b><br />
                        <span style="padding-left:10px; padding-top:5px; float:left; width:100%">
                            Pastalar, pastanelerin kendi dağıtım ekibi tarafından sizlere ulaştırılmaktadır.
                            Parti sepetleri dağıtımı ise MNG kargo tarafından yapılmaktadır.
                        </span>
                    </label>

                    <label class="sss-title">Diğer</label>

                    <label>
                        •	<b>Kendin Tasarla çalışmıyor, ne yapmalıyım?</b><br />
                        <span style="padding-left:10px; padding-top:5px; float:left; width:100%">
                            Taraycıların eski sürümleri <a href="/Editor" >Kendin Tasarla</a> bölümünü desteklememektedir. <a href="/Editor" >Kendin Tasarla</a> bölümü kullandığınız tarayıcıda açılmıyorsa, tarayıcınızı güncellemenizi veya başka bir güncel tarayıcı (Google Chrome, Mozilla Firefox vb.) kullanmanızı rica edeceğiz.
                        </span>
                        <br /><br /><br />
                        •	<b>Telefonumdan Kendin Tasarlaya giremiyorum, ne yapmalıyım?</b><br />
                        <span style="padding-left:10px; padding-top:5px; float:left; width:100%">
                            Telefonlarda <a href="/Editor" >Kendin Tasarla</a> kullanımı için uygulama geliştirme çalışmalarımız devam etmektedir. Biz bu geliştirmeleri tamamlayana kadar en iyi performans için dizüstü veya masaüstü bilgisayarlar kullanılmasını tavsiye ediyoruz.
                        </span>
                    </label>
                </div>
            </div>
        </div>
    </div>
</div>