<div class="page-footer">
    <div class="page-footer-inner" style="color:white">
        2016 &copy; EventApp Theme By
        <a target="_blank" href="http://infinia.com.tr" style="color:white">INFINIA</a> &nbsp;|&nbsp;
        <a href="http://infinia.com.tr/iletisim/" title="Purchase EventApp to make Your Events Smarter" target="_blank">Purchase EventApp!</a>
    </div>
    <div class="scroll-to-top">
        <i class="icon-arrow-up"></i>
    </div>
</div>