
<style>
    .tasarla-button a {
        transition: all 0.1s;
    }

    .tasarla-button:hover a {
        background: black !important;
        color: white;
    }
</style>

<div class="header">

    <nav class="wsdownmenu clearfix">
        <ul class="wsdown-mobile wsdownmenu-list">

            <li style="float:left;">
                <a href="#">DESIGN CAKES<img src="~/Images/Site/header_down_arrow.png" style="width:10px; margin-bottom:5px; margin-left:10px;" /></a>
                <ul class="col-lg-6 col-md-6 col-xs-12 bp-dd wsdownmenu-submenu" style="padding:5px; box-shadow: 0 5px 10px rgba(0,0,0,.2); min-height:370px;">
                    <li class="col-md-4 col-sm-4 col-xs-6">
                        <a href="/butik-pastalar/dogum-gunu-pastalari">
                            <img src="~/Images/Site/dogum-gunu-pastalari1.jpg" />
                            <span>Birthday Cakes</span>
                        </a>
                    </li>
                    <li class="col-md-4 col-sm-4 col-xs-6">
                        <a href="/butik-pastalar/bebek-pastalari">
                            <img src="~/Images/Site/bebek-pastalari1.jpg" />
                            <span>Baby Cakes</span>
                        </a>
                    </li>
                    <li class="col-md-4 col-sm-4 col-xs-6">
                        <a href="/butik-pastalar/1-yas-pastalari">
                            <img src="~/Images/Site/1-yas-pastalari1.jpg" />
                            <span>Age 1 Cakes</span>
                        </a>
                    </li>
                    <li class="col-md-4 col-sm-4 col-xs-6">
                        <a href="/butik-pastalar/cizgi-film-pastalari">
                            <img src="~/Images/Site/cizgi-film-pastalari1.jpg" />
                            <span>Cartoon Cakes</span>
                        </a>
                    </li>
                    <li class="col-md-4 col-sm-4 col-xs-6">
                        <a href="/butik-pastalar/sevgili-pastalari">
                            <img src="~/Images/Site/sevgili-pastalari1.jpg" />
                            <span>Valentines Cakes</span>
                        </a>
                    </li>
                    <li class="col-md-4 col-sm-4 col-xs-6">
                        <a href="/butik-pastalar/kutlama-pastalari">
                            <img src="~/Images/Site/kutlama-pastalari1.jpg" />
                            <span>Celebration Cakes</span>
                        </a>
                    </li>
                </ul>
            </li>

            <li style="float:left;">
                <a href="/tezgah-pastalari">CAKES</a>
            </li>

            <li style="float:left;">
                <a href="/MiniBakeries">BAKERIES</a>
            </li>

            <li class="tasarla-button" id="pt-navbar" style="float:right;">
                <a href="@Url.Action("Editor","Home")" style="border:1px solid black; letter-spacing:2px; border-radius:30px; line-height:30px; padding:0px 20px; margin-top:8px;">
                    DESIGN YOUR CAKE
                </a>
            </li>


        </ul>
    </nav>
</div>