
<link href="https://fonts.googleapis.com/css?family=Lato:300,700" rel="stylesheet" type="text/css" />
<style>
    body {
    }

    #popup {
        background: #2f2f2f;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        color: #fff !important;
        font: 300 18px/24px 'Lato', Calibri, Arial, sans-serif !important;
        letter-spacing: 0;
        max-width: 700px;
        margin: 0 auto;
    }

    #popup-content {
        padding: 30px 20px;
    }

    #popup-header {
        background: rgba(0,0,0,0.1);
        -webkit-border-radius: 3px 3px 0 0;
        -moz-border-radius: 3px 3px 0 0;
        border-radius: 3px 3px 0 0;
        font-size: 24px !important;
        line-height: 32px !important;
        opacity: 0.8;
        padding: 30px;
        text-align: center;
    }

    #popup-content p {
        margin: 0 0 10px;
        font: 300 16px/22px 'Lato', Calibri, Arial, sans-serif !important;
    }

    #popup-content ul {
        margin: 0 0 15px;
        padding: 0 0 0 20px;
    }

        #popup-content ul li {
            padding: 0px 0;
            font: 300 16px/22px 'Lato', Calibri, Arial, sans-serif !important;
        }

    #popup-buttons {
        margin-top: 30px;
        text-align: center;
    }

        #popup-buttons a {
            background: #84bd00;
            border: 0;
            -webkit-border-radius: 2px;
            -moz-border-radius: 2px;
            border-radius: 2px;
            color: #fff !important;
            font-size: 16px !important;
            letter-spacing: 1px;
            margin: 0 2px;
            padding: 8px 20px;
            text-decoration: none;
            text-transform: uppercase;
        }

            #popup-buttons a:hover, #popup-buttons a:focus {
                background: #aef607;
            }

    #popup-footer {
        color: #fff !important;
        font: bold 10px/10px "Montserat", Arial, Helvetica, sans-serif !important;
        letter-spacing: 1px;
        padding: 8px 0;
        text-align: right;
        text-transform: uppercase;
        /*display: none;*/
    }

        #popup-footer a {
            color: #fff;
            text-decoration: none;
        }
</style>

<div id="popup">
    <div id="popup-body">
        <div id="popup-header"><span style="color: #ffffff; font-size: 24pt;"><strong>Bir Önerimiz var</strong></span> <img src="~/Images/Site/close_spotify.png" style="float:right; width:20px; cursor:pointer; padding-top:5px;" onclick="$('#spotifyPopup').fadeOut(500);" /></div>
        <div id="popup-content">
            <p style="text-align: center;"><span style="font-size: 14pt; line-height: 115%; font-family: Arial, sans-serif; color: #ffffff;"><span face="Arial, sans-serif" style="font-family: Arial, sans-serif;"><span style="font-size: 14pt;"><img src="https://s3.amazonaws.com/agilecrm/panel/uploaded-logo/1489475500839?id=tinymce_image_upload" alt="" width="229" height="69" /></span></span><br /><br /><span face="Arial, sans-serif" style="font-family: Arial, sans-serif;"><span style="font-size: 24px;">Pastanı tasarlarken, müzik dinlemeye ne dersin?</span></span><br /></span></p>
            <div id="popup-buttons"><strong><a href="https://play.spotify.com/user/icaked" >ŞİMDİ DİNLE</a></strong></div>
        </div>
    </div>
</div>

