@{
    ViewBag.Title = "Pasta Siparişi – Pastanı Tasarla, Anında Sipariş Ver";
    Layout = "/Views/Shared/_Layout.cshtml";
    ViewBag.Description = "iCaked ile ilgili öğrenmek istediğiniz her şey burada. En güzel butik pasta sitesinin nasıl ortaya çıktığını öğrenmek istemez misiniz?";
    ViewBag.Keywords = "pasta, online pasta tasarla, online pasta siparişi, pasta siparişi, doğum günü pastası, özel pasta siparişi, tasarım pasta siparişi, butik pasta siparişi";
}

<div class="container-fluid" >
    <div class="container" style="background:white; padding:3%; padding-bottom:150px;">
        <div class="row">
            <h1 style="float:left; width:100%; font-size:32px; font-weight:500; padding-bottom:15px;">
                About Us
            </h1>
            <h2 style="float:left; width:100%; font-size:20px; font-weight:500; padding-bottom:25px; padding-top:10px;">
                You Cake It, We Bake It !
            </h2>

            <div class="row" style="padding:0px;">
                <div class="col-md-7 col-sm-12 col-xs-12">

                    <label style="float:left; text-align:left; width:100%; font-size:14px;">
                        Would you like to celebrate the most special occasions with your loved ones with beautiful and delicious pastries? Carrying the most fun of the cake to your house! How Does?
                        <br /> <br />
                        With iCaked, we offer you the possibility to design your dream cake in 3D. By choosing from hundreds of design cake figures, you can reach your desired design cake pattern. In short, the boutique cake in your imagination is now just a click away
                        <br /> <br />
                        Whether you design your own or as you would like to order instantly from pastry, you can create your own cake archive by adding your designs to your designer profile on the site. Besides that, your designs are not limited to just cake. You can also make cookies and cupcake designs on iCaked. You have the opportunity to order all of the products you design from our experienced pastry shops that we deal with. Moreover, after ordering the online cake, you can give feedback about your pastry by scoring the pastries.
                        <br /> <br />
                    </label>
                </div>

                <div class="col-md-5 col-sm-12 col-xs-12" style="margin-bottom:70px;">
                    <div style="width:100%; float:left; text-align:center;">
                        <img alt="hakkımızda arkaplan" src="~/Images/Site/hakkimizda2.png" style="width:70%;" />
                    </div>
                </div>
            </div>
            <div class="row" style="padding:0px;">
                <div class="col-md-5 col-sm-12 col-xs-12">
                    <div style="width:100%; float:left; text-align:center;">
                        <img alt="hakkımızda arkaplan 2" src="~/Images/Site/hakkimizda1.png" style="width:65%;" />
                    </div>
                </div>

                <div class="col-md-7 col-sm-12 col-xs-12">

                    <label style="float:left; text-align:right; width:100%; font-size:14px;">
                        In order to make your boutique cake order much quicker, you can easily order the cake by accessing the users' designs and making the desired changes. You can also earn from our special gifts, if your followers order from the products you design.
                        <br /> <br />
                        As iCaked, we are helping you achieve the same with all the products that you may need with the cake, not limited to all these. Would you like to serve dry pastry, chocolate or sweet desserts next to your cake? Of course, while serving all of this, the boutique cake is a fun party set suitable for your theme? With iCaked, you can reach all of this within 10 minutes without having to leave your place.
                        <br /> <br />
                        <span style="font-size:18px;">What are you waiting for? You Cake It, We Bake It !</span>
                    </label>
                </div>
            </div>

        </div>
    </div>
</div>