@{
    ViewBag.Title = "Payment Options - Payment Options for Your Orders";
    Layout = "/Views/Shared/_Layout.cshtml";
    ViewBag.description = "You can pay for any patisserie product or special boutique cake order from iCaked.com with one of the pastry payment options you choose.";
    ViewBag.Keywords = "Order cake, order online cake, order cake anka, order cake, pay cake at door, order cake";
}

<div class="container-fluid" >
    <div class="container" style="background:white; padding:3%; padding-bottom:150px;">
        <div class="row">

            <label style="float:left; width:100%; font-size:32px; font-weight:500; padding-bottom:15px;">
                iCaked.com
            </label>
            <h1 style="float:left; width:100%; font-size:20px; font-weight:500; padding-bottom:25px; padding-top:10px;">
                Payment Options
            </h1>

            <div class="col-md-12 col-sm-12 col-xs-12" style="margin-bottom:70px;">

                <div style="float:left; text-align:left; width:100%; font-size:14px;">

                    <br /> You can pay for your iCaked orders by using different payment options when you confirm your basket and then receive your pancakes online with your credit card.
                    <br />
                    <br /> Your online credit card payments will be made with 3D Secure and all orders are protected with an SSL certificate against any security risks from the moment the order process starts. ICaked does not record any of the payment instrument information. There is no installment payment option in our payments.
                    <br />
                    <br /> If you choose to pay at the door, you can make your payment from the options accepted by the selected pastry, while you take your cake. These options vary for each patisserie and may be the following options;
                    <br /> <br /> • Cash payment
                    <br /> • Payment by Credit Card / Debit Card
                    <br /> • Ticket Restaurant Payment by Meal Card
                    <br /> • Payment by Ticket Restaurant
                    <br /> • Payment with Sodexo Dining Cake
                    <br /> • Payment with Multinet
                    <br /> • Pay with SetCard
                    <br /> <br /> The payment option at the door is not used by the whole bakery. You can place orders with only the online credit card payment option from pies that do not use this feature.
                </div>
            </div>
        </div>
    </div>
</div>