@{
    ViewBag.Title = "Boutique Pastries - Pastry Design and Pastry Order";
    Layout = "/Views/Shared/_Layout.cshtml";
    ViewBag.description = "Everything you need to know to design a boutique cake with iCaked is here. Click and learn everything you need to design a birthday cake.";
    ViewBag.keywords = "Online cake design, cake design, online cake order, boutique cake order, design cake models, special cake order";
}

<div class="container-fluid" style=" margin-top:-30px; margin-bottom:-100px;">
    <div class="container" style="background:white; padding:3%; padding-bottom:150px;">
        <div class="row">

            <label style="float:left; width:100%; font-size:32px; font-weight:500; padding-bottom:15px;">
                iCaked.com
            </label>
            <h1 style="float:left; width:100%; font-size:20px; font-weight:500; padding-bottom:25px; padding-top:10px;">
                Frequently Asked Questions
            </h1>

            <div class="col-md-12 col-sm-12 col-xs-12" style="margin-bottom:70px;">

                <div style="float:left; text-align:left; width:100%; font-size:14px;">
                    <label class="sss-title">Products</label>

                    <label>

                        •	<b>Are you producing the pastries we designed?</b> <br />
                        <span style="padding-left:10px; padding-top:5px; float:left; width:100%">
                            No, we leave it to the best worker. The design pastes are produced by our professional contractual pastries as described in the <a href="/pastane"> pastries </a> section.
                        </span>

                        <br /><br /><br />

                        •	<b>How much will the cake I designed look like to the truth?</b> <br />
                        <span style="padding-left:10px; padding-top:5px; float:left; width:100%">
                            Before putting a figure in your section, we get approval from all our pastries. In addition to that, it is very special to make sugar paste cake, so we make sure that all the pastries we choose are working with specialist sculptors. You can keep track of sample pies from our social media accounts.
                        </span>

                      </label>

                    <label class="sss-title">Order</label>

                    <label>
                     
                        •	<b>Should I order at least a few days before ordering a design cake to arrive at the elite when I want it?</b><br />
                        <span style="padding-left:10px; padding-top:5px; float:left; width:100%">
                            You have to order at least 24 hours before the order is changed from pasta to pasta. We recommend that you order a design cake at least 48 hours in advance during crowded periods with special occasions.                        </span>
                        <br /><br /><br />
                        •	<b>The place I live is not in the service area of pastries, what should I do?</b><br />
                        <span style="padding-left:10px; padding-top:5px; float:left; width:100%">
                            We are trying to reach all parts of USA but unfortunately we have not arrived yet. Until we succeed in doing this, you can go to and buy your order from the closest cake from our website. For now, you can only order online cake from Ankara and Istanbul.                        </span>
                        <br /><br /><br />
                        •	<b>I want to send more than one cake, but I can not add a basket. What should I do?</b><br />
                        <span style="padding-left:10px; padding-top:5px; float:left; width:100%">
                            You can add just one design cake to your basket. The second design pie confirms your first basket for your order and you can open a second basket.                        </span>
                        <br /><br /><br />
                        •	<b>I want to change or cancel the order. What can I do?</b><br />
                        <span style="padding-left:10px; padding-top:5px; float:left; width:100%">
                            You can change or cancel if the order has not been started yet if you have ordered the design cake and the order delivery has not started for the other products. In this case it will be the quickest solution to contact your bakery by phone.                        </span>
                    </label>

                    <label class="sss-title">Payment</label>

                    <label>
                        •	<b>How do I pay?</b><br />
                        <span style="padding-left:10px; padding-top:5px; float:left; width:100%">
                            You will make the payment directly to the bakery.
                        </span>
                        <br /><br /><br />
                    </label>

                    <label class="sss-title">Delivery</label>

                    <label>
                     
                        •	<b>Which shipping company do you work with?</b><br />
                        <span style="padding-left:10px; padding-top:5px; float:left; width:100%">
                            Pastries, pastries, are delivered to you by your own distribution team.
                        </span>
                    </label>

                    <label class="sss-title">Other</label>

                    <label>
                        •	<b>Designing is not working, what should I do?</b><br />
                        <span style="padding-left:10px; padding-top:5px; float:left; width:100%">
                            Old versions browsers does not support <a href="/Editor" >design</a>. <a href="/Editor" >Design editor</a> section does not open in the browser you are using, we ask that you update your browser or use another current browser (Google Chrome, Mozilla Firefox, etc.).
                        </span>
                        <br /><br /><br />
                        •	<b>I can not enter my own design from my phone, what should I do?</b><br />
                        <span style="padding-left:10px; padding-top:5px; float:left; width:100%">
                            On mobile <a href="/Editor" >design editor</a> we are continuing our application development efforts for use. We recommend using either a laptop or a desktop computer for best performance until you complete these enhancements.
                        </span>
                    </label>
                </div>
            </div>
        </div>
    </div>
</div>