@{
    ViewBag.Title = "Product Not Found";
}

<div class="container">
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12" style="text-align:center; margin-top:150px; margin-bottom:20px;">
            <img alt="sayfa bulunamadı" src="~/Images/Site/empty_cart_icon.png" style="margin:auto; width:60px; margin-bottom:20px;" />
        </div>
        <div style="width:100%; float:left; height:300px; text-align:center;">
            <label style="font-size:18px; font-weight:400; float:left; width:100%; text-align:center;">The product you searched for was not found.</label>
            <label style="font-size:16px; font-weight:400; padding:10px 0px; float:left; width:100%; text-align:center;">It may have been deleted or moved.</label>
            <a style="font-size:16px; color:black !important; font-weight:400;" href="@Url.Action("Editor","Home")">Let's take you to the Editor.</a>
        </div>
    </div>
</div>